body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header img {
    max-height: 65px;
    margin-left: 70px;
}

nav {
    margin-right: 70px;
}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: 0 0.5rem;
}

a {
    font-size: 1.3rem;
    color: #D9D9D9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 50px;
}

.company-description-paragraph {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

#products {
    background-color: #e2e2fa;
    padding: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    width: 18rem;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 1px 1px 4px #c6c1c1;
}

.product p {
    line-height: 1.2;
}

.product img {
    margin: 0 auto;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.member {
    width: 18rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.member img {
    margin: 0 auto;
}

section h1,
section h2 {
    text-align: center;
}

section {
    width: 90%;
    margin: 0 auto;
}

.member img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

footer {
    margin-top: 20px;
}

footer p {
    text-align: right;
    margin: 0;
    padding: 1rem;
    background-color: #D9D9D9;
}

form {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}

input, textarea {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

textarea {
    resize: vertical;
    max-height: 300px;
}

label {
    font-weight: 600;
}

#contacts {
    min-height: 600px;
    background-image: url("../images/contacts.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#contacts h2 {
    display: none;
}

@media screen and (max-width: 600px) {
    header {
        position: relative;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
    }

    header img,
    nav {
        margin: 0;
    }

    main {
        padding-top: 0;
    }

    .banner {
        height: 380px;
    }

    #contacts {
        background-repeat: no-repeat;
    }

    #contacts h2 {
        display: block;
    }

}