body {
    background-color: black;
    font-family: 'Helvetica';
    text-align: center;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    margin-left: 10px;
    height: 50px;
}

a {
    color: seashell;
    margin-right: 10px;
}

main {
    margin-top: 69px;
}

.banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg")
}

.banner-text {
    position: absolute;
    align-self: center;
    background-color: black;
    width: 100%
}

.tea-month {
    margin: 0 auto;
    width: 1000px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-fig {
    margin: 10px;
}

p {
    font-size: 16px;
    font-weight: bold;
}

.gallery img {
    height: 200px;
    width: 300px;
}

footer {
    text-align: left;
}

footer p {
    margin-left: 20px;
}

.locations {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg")
}

.location-cards-container {
    display: flex;
    justify-content: center;
}

.location-card {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
}

.contact {
    height: 200px;
}