header {
    height: 60px;
    background-color: #81a3cf;
    display: flex;
    align-items: center;
}

.branding {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.branding span {
    font-size: 1.5rem;
    vertical-align: top;
    font-weight: 600;
    font-family: sans-serif;
}

main {
    margin-top: 5px;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 5px;
    justify-content: center;
}

.photo {
    max-height: 200px;
    max-width: 200px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, auto);
    }
}